*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main>div{
    border: 2px solid black;
    
}

main{
    display: grid;
    /* grid-template-columns: 200px 100px 50px 200px; */
    /* grid-template-rows: 100px 300px 100px 50px; */
    /* ------------ */
    /* grid-template-columns: 1fr 2fr 1fr; */
    grid-template-columns: repeat(3,200px);
    grid-auto-flow: 100px;
    gap: 30px;
}


main :nth-child(2n){
    background-color: rgb(240, 90, 90);

}
main :nth-child(2n-1){
    background-color: rgb(244, 244, 100);
}