*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main >.box{
    height: 100px;
    width: 100px;
}

main > #b1{
    background: linear-gradient(to right top,red,green);
    transition: all 1s ease;
    border-radius: 15px;
}
main > #b2{
    background: linear-gradient(to right top,rgb(220, 24, 76),yellow);
    transition: all 1s ease;
    border-radius: 15px;
}
main > #b3{
    background: linear-gradient(to right top,rgb(74, 74, 218),rgb(43, 16, 16));
    border-radius: 15px;
    transition: all 1s ease;
}
main > #b4{
    background: linear-gradient(to right top,yellow,red);
    border-radius: 15px;
}
#b1:hover{
    /* transform: scale(0.5); shrink*/
    transform: scale(2);
    box-shadow: 0px 4px 6px black;
}
#b2:hover{
transform: rotate(360deg);
/* 
  width: 100px;
  height: 100px;
  background-color: coral;
  
  /* Set the pivot point to top-left */
  /* transform-origin: top left; 
  transform: rotate(45deg); */

}
#b3:hover{
    /* transform: translateX(200px); */
     /* transform: translatey(200px);  */
     transform: translate(200px,200px);
                         /*x-axis y-axis */   
}
#b4:hover{
     transform: skew(90deg); 
}