*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    text-transform: uppercase;
    margin-bottom: 10px;
}

main > article{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    border:2px solid black ;
    padding: 10px 20px;
    height: 450px;
    width: 300px;
    background-color: grey;
    margin:300px 2px;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 3px 6px black;
    
}
main{
    display: flex;
    gap: 20px;
    background: linear-gradient(to right top,grey,white);
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

main> article >img{
    height: 230px;
    width: 200px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 0px 3px  6px black;
}
main > article:hover{
    transform: scale(1.02);
    transition: all 1s ease;
}


#a1{
    background: linear-gradient(to right top,yellow,white);
    color: black;
}
#a2{
    background: linear-gradient(to right top,rgb(169, 9, 9),rgb(64, 26, 26));
    color: white;
}
#a3{
    background: linear-gradient(to right top,blue,white);
    color: white;
}