*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background: linear-gradient(to bottom right,rgb(127, 205, 232),pink);
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer > .inner{
    height: 400px;
    width: 600px;
    background-color: white;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQn3qf4iOw0_yxvMLKl-2obug6GE2U1aYTBAhUcXknBlw&s=10");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}